<div class="modal-header">
	<h3 class="modal-title">选择协作文件夹</h3>
</div>
<div class="modal-body">
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-5">
				<input type="name" placeholder="输入文件夹名称查找" class="form-control" ng-model="seachFoldersValue" ng-change="seachFolders(seachFoldersValue)">
			</div>
		</div>
		<div class="form-group">
			<div class="gridStyle col-sm-12" ng-grid="selectedFolderGridOptions"></div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok(group)">
		确定
	</button>
	<button class="btn" ng-click="cancel()">
		取消
	</button>
</div>