.header-view {
    .header-ext{
        background-color: @header-ext-background-color;
        height: 20px;
    }
    
    .header-search{
        background-color: @header-search-background-color;
        border-bottom: 1px solid black;
    }
}