.header-view {
  .header-top{
    background-image: url("../../images/web_topbar_blue.png");
    color: white;
    height: 30px;
    .dropdown-menu{
        li{
          cursor: pointer;
          a:hover {
            color: #262626;
            background-color: #EFEFEF;
          }
        }
    }
    .user-info{
        border-left: 1px solid #1b599b;
        padding-left: 10px;
        margin-top: 4px;
        height: 22px;
        .dropdown-menu{
          width: 130px !important;
          min-width: 130px;
          z-index: 10001;
          top:30px;
          margin-top: 0;
          border-radius: 0 0 3px 3px;
          li{
            width: 130px;
          }
        }
    }
    
    .to-admin-control{
      cursor: pointer;
      border-right: 1px solid #2273cc;
      border-left: 1px solid #1b599b;
      font-size: 13px;
      padding-right: 10px;
      padding-left: 10px;
      height: 22px;
      margin-top: 4px;
      line-height: 22px;
    }
    
    .notif_box{
      position:relative;
      float: right;
      padding-right: 10px;
      height: 100%;
      span{
        display: inline-block;
        float: right;
        font-size: 18px;
        height: 100%;
        line-height: 63px;
        padding: 0 10px;
      }
      .dropdown-menu{
        width: 430px;
        height: 280px;
        min-width: 400px;
        overflow-y: hidden;
        border-radius: 0 0 5px 5px;
        z-index: 10001;
        top: 20px;
        right: 291px !important;
        border-bottom: 10px solid #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
        .scroller {
          margin: 20px 0;
        }
        li{
          height: 50px;
          margin-right: 5px;
          border-bottom: 1px solid #CFCFCF;
          padding: 5px 0 5px 5px;
          margin-right: 10px;
          &.isRead{
            opacity: 0.6;
          }
          a{
            height: 100%;
            div{
              .message-userpic{
                margin-top: 5px;
                float: left;
                margin-left: 5px;
              }
              .message-content{
                float: left;
                margin-left: 10px;
                font-size: 12px;
                width: 360px;
                cursor: pointer;
                .message-tittle-date{
                  height: 14px;
                  margin-top: 4px;
                  font-size: 12px;
                  label {
                    margin-bottom: 0;
                  }
                  .message-tittle{
                    color: #565656;
                    width: 210px;
                    height: 14px;
                    line-height: 14px;
                    cursor: pointer;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 14px;
                    margin-bottom: 0;
                    font-weight: normal;
                  }
                  .message-date{
                    float: right;  
                    color: #565656;
                    cursor: pointer;
                    margin-bottom: 0;
                  }
                }
                .message-msg{
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  color: #767676;
                  overflow: hidden;
                  width: 270px;
                  float: left;
                }
                .message-action{
                   float: right;
                   width: 50px;
                   height: 18px;
                   display: none;
                  .message-read{
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    background: url('../../images/message_checkbox_btn.png') no-repeat;
                    background-position: 0px -55px;
                  }
                  .message-read:hover{
                    background-position: 0px 0px;
                  }
                  .message-delete{
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    background: url('../../images/message_checkbox_btn.png') no-repeat;
                    background-position: 0px -36px;
                    :hover{
                      background-position: 0px -18px;
                    }
                  }
                  .message-delete:hover{
                    background-position: 0px -18px;
                  }
                }
              }
            }
          }
        }
        
        li:hover {
            background-color: #ebf1f7;
        }
        
        li:hover a div .message-content .message-action{
            display: block;
        }
      }
      
      .scroller{
        min-width: 400px;
        height: 230px;
        overflow-y: hidden;
      }
      
      .no-notice{
        height: 22px;
        width: 134px;
        background: url('../../images/web_notice_empty.png') no-repeat;
        margin: 0 auto;
        position: relative;
        top: 130px;
      }
      .no-message{
        height: 27px;
        width: 178px;
        background: url('../../images/web_message_empty.png') no-repeat;
        margin: 0 auto;
        position: relative;
        top: 125px;
      }
      
      .notice-dropdown{
        float: left;
        width: 30px;
        height: 100%;
        .dropdown-menu{
          left: -359px;
          top: 30px;
          margin-top: 0;
        }
      }
      .notice-dropdown.active.open {
        background-color: #418CDD;
      }

      .message-dropdown{
        width: 30px;
        height: 100%;
        margin-right: 10px;
        .dropdown-menu{
          left: -399px;
          top: 30px;
          margin-top: 0;
        }
        float: left;
      }
      .message-dropdown:hover{
        cursor: pointer;  
      }
      .message-dropdown.active.open {
        background-color: #418CDD;
      }
      .notice{
        background: url('../../images/topbar_notification_icon_24.png') no-repeat;
        cursor: pointer;
        background-position: -45px -4px;
        width: 20px;
        height: 20px;
        margin-top: 7px;
        margin-right: 4px;
      }
      .message{
        background: url('../../images/topbar_notification_icon_24.png') no-repeat;
        background-position: -10px -4px;
        margin-top: 7px;
        margin-right: 3px;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      .message-count{
        background-color: #d13434;
        border-radius: 8px;
        color: #ffffff;
        height: 16px;
        line-height: 16px;
        position: absolute;
        text-align: center;
        top: 2px !important;
        white-space: nowrap;
        width: 16px;
        font-size: 10px;
        font-weight: 100;
        cursor: pointer;
      }

      .notice-count{
        right: 7px;
      }
      
      .letter-count{
        left: 14px;
      } 
    }

    .username {
      margin-right: 40px;
      margin-top: 7px;
      font-size: 14px;
      float: right;
      margin-left: 8px;
      cursor: pointer;
      span{
        float: left;
        margin-right: 7px;
        margin-top: -5px;
        font-size:13px; 
      }
    }

    .personalInfor{
      margin-top: 1px;
      background: url(../../images/arrows.png) no-repeat;
      -moz-transition:-moz-transform 0.2s; /* Firefox 4 */
      -webkit-transition:-webkit-transform 0.2s; /* Safari and Chrome */
      -o-transition:-o-transform 0.2s; /* Opera */
      -ms-transition:-ms-transform 0.2s; /* IE */
      -sand-transition:-sand-transform 0.2s; /* IE */
      float: right;
      height: 8px;
      width: 17px;
      cursor: pointer;
    }

    .hover .personalInfor {
      transform:rotate(180deg);
      -sand-transform: rotate(180deg);/* IE */
      -ms-transform: rotate(180deg); /* IE */
      -moz-transform:rotate(180deg); /* Firefox 4 */
      -webkit-transform:rotate(180deg); /* Safari and Chrome */
      -o-transform:rotate(180deg); /* Opera */
    }

    .back-main{
      margin-right: 36px;
      margin-top: 5px;
      cursor: pointer;
      font-size: 12px;
      .back-img{
        background: url("../../images/back.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        float: left;
        height: 14px;
        margin-right: 3px;
        margin-top: 3px;
        width: 13px;
      }
    }
    
    .userpic {
      float: right;
      margin-top: 1px;
      width: 20px;
      height: 20px;
    }

    .slogan {
      font-size: 12px;
      margin: 6.5px 20px;
    } 
  }
    
  .header-search{
    background: url("../../images/web_topbar_gray.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 48px;
    width: 100%;
    .logo{
        height: 32px;
        width: 147px;
        margin: 8px 0 0 20px; 
        background: url("../../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    
    .search{
        width: 450px;
        margin: 7px 0 7px 240px;
        .search-text{
            background: url("../../images/search_icon.png") no-repeat scroll 10px 10px white;
            float: left;
            width: 270px;
            padding-left: 35px;
        }
        .search-button{
            margin-left: 27px;
        }
    }
  }
}


//个人设置
.user-info{
    .modal-dialog{
        width: 400px;
    }
    label{
        padding-bottom: 0;
    }
    h5{
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;  
    }
    .user-info .form-group{
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    .upload-box{
        height: 100%;
        width: 100%;
    }
    .upload-div{
        position: absolute;
        height: 64px;
        width: 64px;
        top: 0px;
        cursor: pointer;
    }
    .updateImg{
        height: 64px;
    }
    .save-button{
        margin-top: 30px;
    }
}
