.header-view {
    .header-top{
        background-image: url("../../images/web_topbar_blue.png");
//      background-color: @header-ext-background-color;
        color: white;
        height: 30px;
        .dropdown-menu{
            li{
                cursor: pointer;
                a:hover {
                  color: #262626;
                  background-color: #EFEFEF;
                }
            }
        }
        .user-info{
            border-left: 1px solid #1b599b;
            padding-left: 10px;
            margin-top: 4px;
            height: 22px;
            .dropdown-menu{
                top:30px;
            }
        }
        
        .to-admin-control{
            cursor: pointer;
            border-right: 1px solid #2273cc;
            border-left: 1px solid #1b599b;
            font-size: 13px;
            padding-right: 10px;
            padding-left: 10px;
            height: 22px;
            margin-top: 4px;
            line-height: 22px;
        }
        
        .notif_box {
            position:relative;
            float: right;
            padding-right: 10px;
            height: 18px;
            margin-top: 7px;
            border-right: 1px solid #2273cc;
            span{
                display: inline-block;
                float: right;
                font-size: 18px;
                height: 100%;
                line-height: 63px;
                padding: 0 10px;
            }
            .dropdown-menu{
                min-width: 400px;
                height: 210px;
                overflow-y: hidden;
                li{
                   height: 50px;
                   margin-right: 5px;
                   border-bottom: 1px solid #CFCFCF;
                   padding: 5px;
                   &.isRead{
                       opacity: 0.6;
                   }
                   a{
                       height: 100%;
                       div{
                           .message-userpic{
                               margin-top: 5px;
                               float: left;
                               margin-left: 5px;
                           }
                           .message-content{
                               float: left;
                               margin-left: 10px;
                               font-size: 12px;
                               width: 340px;
                               cursor: pointer;
                               .message-tittle-date{
                                   font-size: 12px;
                                   .message-tittle{
                                       color: #565656;
                                       width: 210px;
                                       cursor: pointer;
                                       text-overflow: ellipsis;
                                       white-space: nowrap;
                                       overflow: hidden;
                                   }
                                   .message-date{
                                       float: right;
                                       color: #565656;
                                       cursor: pointer;
                                   }
                               }
                               .message-msg{
                                  text-overflow: ellipsis;
                                  white-space: nowrap;
                                  color: #767676;
                                  overflow: hidden;
                                  width: 270px;
                                  float: left;
                               }
                               .message-action{
                                   float: right;
                                   width: 50px;
                                   height: 18px;
                                   .message-read{
                                       cursor: pointer;
                                       width: 18px;
                                       height: 18px;
                                       background: url('../../images/message_checkbox_btn.png') no-repeat;
                                       background-position: 0px -55px;
                                   }
                                   .message-read:hover{
                                       background-position: 0px 0px;
                                   }
                                   .message-delete{
                                       cursor: pointer;
                                       width: 18px;
                                       height: 18px;
                                       background: url('../../images/message_checkbox_btn.png') no-repeat;
                                       background-position: 0px -36px;
                                       :hover{
                                           background-position: 0px -18px;
                                       }
                                   }
                                   .message-delete:hover{
                                       background-position: 0px -18px;
                                   }
                               }
                           }
                       }
                   }
                }
            }
            
            .scroller{
                min-width: 400px;
                height: 230px;
                overflow-y: hidden;
            }
            
            .no-notice{
                height: 280px;
                width: 400px;
                background: url('../../images/notice_empty.png') no-repeat;
            }
            .no-message{
                height: 280px;
                width: 400px;
                background: url('../../images/message_empty.png') no-repeat;
            }
            
            
            .notice-dropdown{
                .dropdown-menu{
                    left: -340px;
                }
                float: left;
            }
            .message-dropdown{
                .dropdown-menu{
                    left: -375px;
                }
                float: left;
            }
            
            .notice{
                background: url('../../images/topbar_notification_icon_24.png') no-repeat;
                height: 21px;
                cursor: pointer;
                background-position: -45px -4px;
                width: 10px;
                height: 24px;
            }
            .message{
                background: url('../../images/topbar_notification_icon_24.png') no-repeat;
                background-position: -10px -4px;
                margin-right: 15px;
                height: 24px;
                width: 20px;
                cursor: pointer;
            }
            
            .message-count{
                background-color: #d13434;
                border-radius: 8px;
                color: #ffffff;
//              display: none;
                height: 16px;
                line-height: 16px;
                position: absolute;
                text-align: center;
                top: -3px;
                white-space: nowrap;
                width: 16px;
            }
            
            .notice-count{
                right: 2px;
            }
            
            .letter-count{
                left: 12px;
            }
        }
        
        .username {
            margin-right: 40px;
            margin-top: 5px;
            font-size: 14px;
            float: right;
            margin-left: 8px;
            cursor: pointer;
            span{
               float: left;
               margin-right: 7px;
               margin-top: -5px;
               font-size:13px; 
           }
        }
        
        .personalInfor{
            margin-top: 1px;
            background: url(../../images/arrows.png) no-repeat;
            -moz-transition:-moz-transform 0.2s; /* Firefox 4 */
            -webkit-transition:-webkit-transform 0.2s; /* Safari and Chrome */
            -o-transition:-o-transform 0.2s; /* Opera */
            -ms-transition:-ms-transform 0.2s; /* IE */
            -sand-transition:-sand-transform 0.2s; /* IE */
            float: right;
            height: 8px;
            width: 17px;
            cursor: pointer;
        }
        
        .hover .personalInfor {
            transform:rotate(180deg);
            -sand-transform: rotate(180deg);/* IE */
            -ms-transform: rotate(180deg); /* IE */
            -moz-transform:rotate(180deg); /* Firefox 4 */
            -webkit-transform:rotate(180deg); /* Safari and Chrome */
            -o-transform:rotate(180deg); /* Opera */
        }
        
        .back-main{
            margin-right: 36px;
            margin-top: 5px;
            cursor: pointer;
            font-size: 12px;
            .back-img{
                background: url("../../images/back.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                float: left;
                height: 14px;
                margin-right: 3px;
                margin-top: 3px;
                width: 13px;
            }
        }
        
        .userpic {
            float: right;
            margin-top: 1px;
            width: 20px;
            height: 20px;
        }

        .slogan {
            font-size: 12px;
            margin: 6.5px 20px;
        }
        
    }
    
    .header-search{
        background: url("../../images/web_topbar_gray.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        float: left;
        height: 48px;
        width: 100%;
        .logo{
            height: 32px;
            width: 147px;
            margin: 8px 0 0 20px; 
            background: url("../../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
        
        .search{
            width: 450px;
            margin: 7px 0 7px 240px;
            .search-text{
                background: url("../../images/search_icon.png") no-repeat scroll 10px 10px white;
                float: left;
                width: 270px;
                padding-left: 35px;
            }
            .search-button{
                margin-left: 27px;
            }
        }
    }
}

//个人设置
.user-info{
    .modal-dialog{
        width: 400px;
    }
    label{
        padding-bottom: 0;
    }
    h5{
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;  
    }
    .user-info .form-group{
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    .upload-box{
        height: 100%;
        width: 100%;
    }
    .upload-div{
        position: absolute;
        height: 64px;
        width: 64px;
        top: 0px;
        cursor: pointer;
    }
    .updateImg{
        height: 64px;
    }
    .save-button{
        margin-top: 30px;
    }
}
