<div class="modal-header">
	<h3 class="modal-title">创建群组</h3>
</div>
<div class="modal-body">
	<form role="form" class="form-horizontal">
		<h4 class="">群组基本信息</h4>
		<div class="form-group">
			<label class="col-sm-2 control-label">群组名称</label>
			<div class="col-sm-5">
				<input type="name" placeholder="" class="form-control" ng-model="group.group_name"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">群组成员</label>
			<div class="col-sm-5">
				<input type="button" class="btn btn-default" ng-click="addMemberWindow()" value="添加成员"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<div class="gridStyle col-sm-12" ng-grid="addMemberGridOptions"></div>
			</div>
		</div>
		<h4 class="">设置群组用户权限</h4>
		<div class="form-group">
			<div class="col-sm-8">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="group.config.show_member">
						允许该群组的所有成员可以看见所有的内部用户和群组&nbsp;</label><span tooltip = "如果选中，则该群组的成员在邀请协作人时可以在自己的联系人列表中访问到其他的内部用户和群组。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="group.config.desktop_sync">
						允许该群组的所有成员在全携通与桌面端之间同步文件&nbsp;</label><span tooltip="如果选中，则允许该群组的成员在全携通网页端与桌面客户端之间双向同步文件。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-11">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="group.config.inner_share">
						限定该群组的所有成员只能进行内部协作&nbsp;</label><span tooltip="如果选中，则禁止该群组的成员在自己的文件夹中邀请外部用户进行协作。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok(group)">
		确定
	</button>
	<button class="btn" ng-click="cancel()">
		取消
	</button>
</div>