<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="App" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="App" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="App" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="App" class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Console of Act</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/linkShare/linkShare.295c9262.css">
  
</head>
<body>

<!-- Begin Templates -->
<script type="text/ng-template" id="src/linkShare/header/template.html">
<div class="header-view" ng-controller="App.Header.Controller">
	<div class="header-top">
	  <div class="logo">
	    <img src="./images/logo_white_min.png" />
	  </div>
	  <div class="pull-right button-group">
	    <button ng-click='toLogin()' class="btn btn-warning">注册</button>
	    <button ng-click="toLogin()" class="btn btn-primary">登录</button>
	  </div>
	  
		<!--<div class="user-info pull-right" dropdown is-open="status.isopen">
			<div class="username dropdown-toggle" ng-class="{hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
				<span>{{user.user_name}}</span>
				<div class="personalInfor"></div>
			</div>
			<ul class="dropdown-menu" role="menu">
        		<li ng-click = "userInfoWin()"><a>个人信息</a></li>
        		<li ng-click = "toLogin()"><a>退出</a></li>
      </ul>
			<img class="userpic" ng-src="{{user.avatar}}" alt="" />
		</div>
		<div class="to-admin-control pull-right" ng-click = "toadmin()">
			管理控制台
		</div>
		<div class="notif_box" class="message-notice pull-right">
			<span class="notice" title="通知"></span>
			<label class="message-count notice-count" ng-show = "showMessageCount">{{messageCount}}</label>
			<span class="message" title="消息"></span>
			<label class="message-count letter-count" ng-show = "showMoticeCount">{{noticeCount}}</label>
		</div>-->
	</div>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/main/delete-recycle-confim.html">
<div class="modal-header">
  <button class="bootbox-close-button close" type="button" ng-click="cancel()">
    ×
  </button>
  <h3 class="modal-title">彻底删除</h3>
</div>
<div class="modal-body">
  是否确定彻底删除选中文件
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">
    确定
  </button>
  <button class="btn btn-default" ng-click="cancel()">
    取消
  </button>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/main/empty-recycle-confim.html">
<div class="modal-header">
  <button class="bootbox-close-button close" type="button" ng-click="cancel()">
    ×
  </button>
  <h3 class="modal-title">清空回收站</h3>
</div>
<div class="modal-body">
  是否确定清空回收站
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">
    确定
  </button>
  <button class="btn btn-default" ng-click="cancel()">
    取消
  </button>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/main/modal-upload.html">
<div class="modal-header">
  <button class="bootbox-close-button close" type="button" ng-click="cancel()">
    ×
  </button>
  <h3 class="modal-title">上传文件</h3>
</div>
<div class="modal-body">
  <div class="upload-box"
    ng-file-drop="onFileSelect($files)"
    ng-file-drag-over-class="drop-box-over"
    ng-file-drag-over-delay="100">
    <div ng-file-select="onFileSelect($files)" class="upload-select"><a>选择要上传的文件</a></div>
    <div class="upload-drop">也可以拖拽文件到该区域，完成上传</div>
  </div>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/main/revert-recycle-confim.html">
<div class="modal-header">
  <button class="bootbox-close-button close" type="button" ng-click="cancel()">
    ×
  </button>
  <h3 class="modal-title">还原文件</h3>
</div>
<div class="modal-body">
  是否确定还原选中文件
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">
    确定
  </button>
  <button class="btn btn-default" ng-click="cancel()">
    取消
  </button>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/main/template.html">
<div class="link-share" ng-controller="App.LinkShare.Controller">
  <div class="trash-view col-sm-9">
    <div class="top-bar">
      <div class="pull-left root-path" ng-class = "{ isRoot: isRoot }">
        <a ui-sref="shares({folderId: 0})">
                        所有文件
        </a>
      </div>
      <div class="folder-crumb pull-left" ng-repeat="path in folderPath">
        <img src="images/arrow_icon.png" />
        <a ui-sref="shares({folderId: path.id})">
          {{path.name}}
        </a>
      </div>
      <div class="pull-right">
        链接有效至{{linkDetail.expiration_date}}
      </div>
    </div>
    <div class="top-bar-bottom"></div>
    <div class="buttonGroup">
      <button ng-click="upload()" class="btn btn-default" ng-disabled="isRoot">
        上传文件
      </button>
      <button ng-click='downloadFile()' class="btn btn-default">
        下载文件
      </button>
    </div>
    <div class="title">
      <div class="title-checkbox col">
        <input type="checkbox" ng-click = "selectedAllswitch()" ng-model = "selectedAll"/>
      </div>
      <div class="title-name col">
        <span>名称</span>
      </div>
      <div class="title-state col">
        <span>修改时间</span>
      </div>
      <div class="title-size col">
        <span>大小</span>
      </div>
    </div>
    <div class="folder-grid">
      <div class="table">
        <div class="file-row" ng-repeat="linkShare in linkShareList" ng-class = "{ selected: linkShare.checked }" ng-click = "selectRecycle($event, linkShare)">
          <div class="input-checkbox-td">
            <input type="checkbox" ng-model = "linkShare.checked" ng-click = "selectRecycle($event, linkShare)"/>
          </div>
          <div class="img-name-td">
            <img ng-src = "{{linkShare.smallIcon}}" height="42px" width="42px"/>
            <div class="file-name">
              <a ui-sref="shares({folderId: linkShare.file_id})" ng-show = "linkShare.folder">
                {{linkShare.file_name}}{{linkShare.file_id}}
              </a>
              <a ng-show = "!linkShare.folder&&linkShare.isPreview" ng-click = "previewFile(linkShare)">
                {{linkShare.file_name}}
              </a>
              <a ng-show = "!linkShare.folder&&!linkShare.isPreview" ng-class = "{ noPreview: !linkShare.isPreview }">
                {{linkShare.file_name}}
              </a>
              <div class="tag">
                <span>+添加标签</span>
              </div>
            </div>
          </div>
          <div class="state-td">
            {{linkShare.create_uname}}于{{linkShare.format_date}}更新
          </div>
          <div class="file-sise-td">
            <img src="images/file_icon.png" ng-show = "linkShare.folder"/>
            <span ng-show = "linkShare.folder">{{linkShare.file_count}}</span>
            <span ng-hide = "linkShare.folder">{{linkShare.format_size}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="link-detail col-sm-3">
      <div class="img-name-email">
          <div class="img">
          <img ng-src = "{{linkDetail.owner_avatar}}" height="50px" width="50px"/>
        </div>
        <div class="name-email">
          <label>{{linkDetail.owner_uname}}</label><br/>
          <label>{{linkDetail.email}}</label>
        </div>
      </div>
      <div class="explain-title">
        <h5>说明</h5>
      </div>
      <div>
        {{linkDetail.comment}}
      </div>
  </div>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/sidebar/template.html">
<div class="sidebar-view" ng-controller="App.Sidebar.Controller">
  <ul class="nav nav-sidebar">
    <li ng-class="{ active: $state.includes('files') }">
      <a ui-sref="files" class="files">
        <span class="files-img"></span>
        	所有文件
      </a>
    </li>
    <li ng-class="{ active: $state.includes('updates') }">
      <a ui-sref="updates" class="updates">
        <span class="updates-img"></span>
        	最近更新
      </a>
    </li>
    <li ng-class="{ active: $state.includes('contacts') }">
      <a ui-sref="contacts" class="contacts">
        <span class="contacts-img"></span>
        	联系人
      </a>
    </li>
    <li ng-class="{ active: $state.includes('trash') }">
      <a ui-sref="trash" class="trash">
        <span class="trash-img"></span>
       		回收中心
      </a>
    </li>
  </ul>
  <div class="storage">
  	<div class="col-sm-12 storage-progressbar"><progressbar class="" value= "storage.percentage" type="success">{{storage.percentage}}%</progressbar></div>
  	<span class="pull-right">{{storage.used_space}}/{{storage.total_space}}</span>
  </div>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/upload-progress-dialog/template.html">
<div ng-show="shown" ng-controller="App.UploadProgressDialog.Controller" class="upload-progress-win">
  <div class="dialog-header">
      <div class="dialog-title">正在上传</div>
      <div class="dialog-btn btn-close" ng-click="hide()"></div>
      <div class="dialog-btn btn-max" ng-show="!isMax" ng-click="max()"></div>
      <div class="dialog-btn btn-min" ng-show="isMax" ng-click="min()"></div>
  </div>
  <div class="dialog-body" ng-show="isMax">
      <div class="progress-item" id="ddupload_file_1_progress" ng-repeat="file in files">
          <img class="file-icon" src="./images/file_icon.png">
          <span class="file-name" title="webappdigger.png">{{file.name}}</span>
          <span class="file-size" ng-show = "file.progress == 100">{{file.fomateSize}}</span>
          <span class="file-progress" ng-hide = "file.progress == 100">
            <a style="width:{{file.progress}}%"></a>
          </span>
          <span class="file-progress-size" ng-hide = "file.progress == 100">
            {{file.progress}}%
          </span>
          <span class="file-upload-success dialog-btn" ng-show = "file.progress == 100">         
          </span>
          <span class="delete-upload dialog-btn" ng-hide = "file.progress == 100" ng-click="file.upload.abort()">          
          </span>
      </div>
  </div>
</div>
</script>

<script type="text/ng-template" id="src/linkShare/widgets/notification/template.html">
<div class="modal-body">
    <div class="alert alert-{{notification.type}} alert-dismissible" role="alert">
      <button type="button" class="close" ng-click="close()" ng-show="notification.closeable" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      {{notification.msg}}
    </div>
</div>
</script>
<!-- End Templates -->


  <div class="header" ng-include="'src/linkShare/header/template.html'"></div>
  <div class="main container">
    
    <div class="col-sm-8 col-sm-offset-2 right-main" ui-view=""></div>

    <div class="main-bottom">
  		<div>
  			版权所有©2013 上海灵利信息技术有限公司
  		</div>
  		<div>
  			沪网文[2011]0682-074增值电信业务经营许可证编号:沪B2-20080012
  		</div>
	  </div>
  </div>
  <div class="enter-password" ng-controller="App.LinkShare.InputPasswordController" ng-show="neddPassword">
    <div class="input-password">
      <img src="./images/logo_white_max.png">
      <div class="form-group">
        <input class="form-control" placeholder="&#x8F93;&#x5165;&#x6587;&#x4EF6;&#x63D0;&#x53D6;&#x5BC6;&#x7801;" ng-model="password">
        <input type="button" class="btn btn-warning" value="&#x786E;&#x5B9A;" ng-click="checkPassword(password)">
      </div>
    </div>
  </div>
  
  <div class="upload-progress-dialog" style="display: block;" ng-include="'src/linkShare/upload-progress-dialog/template.html'"></div>

  <script id="template/modal/window.html" type="text/ng-template">
    <div tabindex="-1" role="dialog" class="modal fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
        <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="modal-content" modal-transclude>
        </div>
      </div>
    </div>
  </script>

  <script src="js/linkShare.31f3d22b.js"></script>
</body>
</html>
