<div class="modal-header editUser-header">
	<h3 class="modal-title">更改用户设置</h3>
</div>
<div class="modal-body editUser" ng-controller="App.Users.ManagedUsers.EditUser.Controller">
		<div class="col-sm-1">
			<img src="{{user.avatar}}" height="64px" width="64px"/>
		</div>
		<div class="col-sm-10">
			<div class="form-group">
				<label>姓名</label>
			</div>
			<div class="form-group">
				<input type="text" ng-model="user.real_name" class="form-control user-name"/>
			</div>
			<div class="form-group">
				<label>邮箱</label>
			</div>
			<div class="form-group">
				<input type="email" ng-model="user.email" class="form-control user-email" disabled/>
			</div>
			<div class="form-group">
				<label>容量</label>
			</div>
			<div class="form-group">
				<input type="text" ng-model="user.total_space" class="form-control user-total-space"/>
				<label class="">GB</label>
				<label class="checkbox-label">
					<input type="checkbox" ng-model="user.space_unlimited">
				  无限制</label>
			</div>
			<h4 class="modal-title">用户权限</h4>
			<div class="form-group permission-checkbox">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.config.show_member"/>
						允许该用户查看所有的内部用户&nbsp;</label><span tooltip="如果选中，则该用户在邀请协作人时可以在自己的联系人列表中访问到其他的内部用户；而除非是自己邀请过的协作人，否则外部用户不会出现在该用户的联系人列表中。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>		
			<div class="form-group permission-checkbox">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.config.desktop_sync"/>
						允许该用户在全携通与桌面端间同步文件&nbsp;</label><span tooltip="如果选中，则允许该用户在全携通网页端与桌面客户端之间双向同步文件。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>			
			<div class="form-group permission-checkbox">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.config.inner_share"/>
						限定该用户在自己的文件夹中只能邀请内部用&nbsp;</label><span  tooltip-placement="bottom" tooltip="如果选中，则禁止该用户在自己的文件夹中邀请外部用户进行协作。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>
			<div class="form-group permission-checkbox">
				<div class="checkbox">
					<label>
						<input type="checkbox" >
						协同管理选&nbsp;</label><span tooltip="如果选中，则该用户在邀请协作人时可以在自己的联系人列表中访问到其他的内部用户；而除非是自己邀请过的协作人，否则外部用户不会出现在该用户的联系人列表中。" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign"></span>
				</div>
			</div>
			<div class="form-group">
				<label>用户所在群组</label>
			</div>
			<div class="form-group">
				<input type="text" placeholder="搜索所在群组" class="form-control user-email"/>
			</div>
			<div class="form-group">
				<div class="gridStyle col-sm-12" ng-grid="gridGroup"></div>
			</div>
			<div class="form-group">
				<label>可以访问的协作文件夹</label>
			</div>
			<div class="form-group">
				<input type="text" placeholder="搜索文件夹名称" class="form-control user-email"/>
			</div>
			<div class="form-group">
				<div class="gridStyle col-sm-12" ng-grid="gridGroup"></div>
			</div>
			<div class="form-group">
				<a ui-sref="users.managedUsers">
					<button class="btn btn-primary" ng-click="updateUser(user)">保存修改</button>
				</a>
				<a ui-sref="users.managedUsers">
					<button class="btn btn-primary">取消</button>
				</a>	
			</div>
		</div>
</div>