.sidebar-view {
    float: left;
    width: 260px;
    height: 100%;
    .nav > li > a:hover,
    .nav > li > a:focus {
        text-decoration: none;
        background-color: #d6dce2;
    }
    
    .updates{
        padding-left: 45px; 
    }
    .updates-img{
        background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-position: 0px -15px;
        height:19px;
        width: 19px;
        left: 20px;
        position: absolute;
    }
    .files{
        padding-left: 45px;
    }
    .files-img{
        background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-position: 0px -65px;
        height:19px;
        width: 19px;
        left: 20px;
        position: absolute;
    }
    .contacts{
        padding-left: 45px;
    }
    .contacts-img{
        background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-position: 0px -115px;
        height:19px;
        width: 19px;
        left: 20px;
        position: absolute;
    }
    .trash{
        padding-left: 45px;
    }
    .trash-img{
        background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-position: 0px -165px;
        height:19px;
        width: 19px;
        left: 20px;
        position: absolute;
    }
    .active{
        background-color: #d6dce2;
        border-left: 5px solid #1f69ba;
        
    }
}