.user-header-view {
    border-bottom: 1px solid #afafaf;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 40px;
    height: 60px;
    .nav > li > a:hover,
    .nav > li > a:focus {
        text-decoration: none;
        background-color: #1F69BA;
        color: white;
    }
    .nav-sidebar li {
        width: 105px;
        float: left;
        text-align: center;           
    }    
    .active {
        border-bottom: 3px solid #1F69BA;
//      background-color: #1F69BA;
//      color: white;
    }
    .active a{
//      color: white;
    } 
}
