<div class="link-share" ng-controller="App.LinkShare.Controller">
  <div class="trash-view col-sm-9">
    <div class="top-bar">
      <div class="pull-left root-path" ng-class = "{ isRoot: isRoot }">
        <a ui-sref="shares({folderId: 0})">
                        所有文件
        </a>
      </div>
      <div class="folder-crumb pull-left" ng-repeat="path in folderPath">
        <img src="images/arrow_icon.png" />
        <a ui-sref="shares({folderId: path.id})">
          {{path.name}}
        </a>
      </div>
      <div class="pull-right">
        链接有效至{{linkDetail.expiration_date}}
      </div>
    </div>
    <div class="top-bar-bottom"></div>
    <div class="buttonGroup">
      <button ng-click="upload()" class="btn btn-default" ng-disabled="isRoot || !uploadButton">
        上传文件
      </button>
      <button ng-click='downloadFile()' class="btn btn-default" ng-disabled = "!dowloadButton">
        下载文件
      </button>
    </div>
    <div class="title">
      <div class="title-checkbox col">
        <input type="checkbox" ng-click = "selectedAllswitch()" ng-model = "selectedAll"/>
      </div>
      <div class="title-name col">
        <span>名称</span>
      </div>
      <div class="title-state col">
        <span>修改时间</span>
      </div>
      <div class="title-size col">
        <span>大小</span>
      </div>
    </div>
    <div class="folder-grid">
      <div class="table">
        <div class="file-row" ng-repeat="linkShare in linkShareList" ng-class = "{ selected: linkShare.checked }" ng-click = "selectRecycle($event, linkShare)">
          <div class="input-checkbox-td">
            <input type="checkbox" ng-model = "linkShare.checked" ng-click = "selectRecycle($event, linkShare)"/>
          </div>
          <div class="img-name-td">
            <img ng-src = "{{linkShare.smallIcon}}" height="42px" width="42px"/>
            <div class="file-name">
              <a ui-sref="shares({folderId: linkShare.file_id})" ng-show = "linkShare.folder">
                {{linkShare.file_name}}{{linkShare.file_id}}
              </a>
              <a ng-show = "!linkShare.folder&&linkShare.isPreview" ng-click = "previewFile(linkShare)">
                {{linkShare.file_name}}
              </a>
              <a ng-show = "!linkShare.folder&&!linkShare.isPreview" ng-class = "{ noPreview: !linkShare.isPreview }">
                {{linkShare.file_name}}
              </a>
              <div class="tag">
                <span>+添加标签</span>
              </div>
            </div>
          </div>
          <div class="state-td">
            {{linkShare.create_uname}}于{{linkShare.format_date}}更新
          </div>
          <div class="file-sise-td">
            <img src="images/file_icon.png" ng-show = "linkShare.folder"/>
            <span ng-show = "linkShare.folder">{{linkShare.file_count}}</span>
            <span ng-hide = "linkShare.folder">{{linkShare.format_size}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="link-detail col-sm-3">
      <div class="img-name-email">
          <div class="img">
          <img ng-src = "{{linkDetail.owner_avatar}}" height="50px" width="50px"/>
        </div>
        <div class="name-email">
          <label>{{linkDetail.owner_uname}}</label><br/>
          <label>{{linkDetail.email}}</label>
        </div>
      </div>
      <div class="explain-title">
        <h5>说明</h5>
      </div>
      <div>
        {{linkDetail.comment}}
      </div>
  </div>
</div>