html,
body {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.main {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 78px;
  width: 100%;
}
.sidebar {
  height: 100%;
  float: left;
  width: 260px;
  position: relative;
  border-right: 1px solid #bbbbbb;
  background-color: #eceff1;
}
.right-main {
  bottom: 0;
  float: left;
  left: 260px;
  position: absolute;
  right: 0;
  top: 0;
}
.notification-modal-view {
  background-color: transparent;
}
.notification-modal-view .modal-body,
.notification-modal-view .modal-content {
  background-color: transparent;
}
.notification-modal-view .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.header-view .header-ext {
  background-image: url("../../images/web_topbar_blue.png");
  color: white;
  height: 30px;
}
.header-view .header-ext .back-main {
  margin-right: 36px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.6;
}
.header-view .header-ext .back-main .back-img {
  background: url("../../images/back.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 14px;
  margin-right: 3px;
  margin-top: 3px;
  width: 13px;
}
.header-view .header-search {
  background: url("../../images/web_topbar_gray.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 48px;
}
.header-view .header-search .logo {
  height: 32px;
  width: 147px;
  position: relative;
  left: 20px;
  top: 8px;
  background: url("../../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.header-view .header-search .search {
  position: relative;
  left: 153px;
  top: 8px;
  width: 450px;
}
.header-view .header-search .search .search-text {
  background: url("../../images/search_icon.png") no-repeat scroll 10px 10px #ffffff;
  float: left;
  width: 270px;
  padding-left: 35px;
}
.header-view .header-search .search .search-button {
  margin-left: 27px;
}
.sidebar-view {
  float: left;
  width: 260px;
  height: 100%;
}
.sidebar-view .nav > li > a:hover,
.sidebar-view .nav > li > a:focus {
  text-decoration: none;
  background-color: #d6dce2;
}
.sidebar-view .overview {
  padding-left: 45px;
}
.sidebar-view .overview-img {
  background: url("../../images/icon_overview.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .users {
  padding-left: 45px;
}
.sidebar-view .users-img {
  background: url("../../images/icon_users.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .reports {
  padding-left: 45px;
}
.sidebar-view .reports-img {
  background: url("../../images/icon_report.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .settings {
  padding-left: 45px;
}
.sidebar-view .settings-img {
  background: url("../../images/icon_setting.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .active {
  background-color: #d6dce2;
  border-left: 5px solid #1f69ba;
}
.overview-view {
  height: 100%;
}
.overview-view .chart {
  height: 49%;
}
.users-view {
  height: 100%;
}
.users-view .grid-view {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  padding: 0;
}
.users-view .grid-view + .grid-view {
  opacity: 0;
  filter: alpha(opacity=0);
}
.users-view .main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #afafaf;
}
.externalUsers-view {
  height: 100%;
}
.externalUsers-view a {
  text-decoration: none;
}
.externalUsers-view .buttonGroup {
  border-bottom: 1px solid #afafaf;
  margin-left: 40px;
  padding-bottom: 9px;
  padding-left: 57px;
  padding-top: 9px;
  width: 90%;
  height: 53px;
}
.externalUsers-view .groupGridStyle {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 53px;
  width: 90%;
  padding-left: 97px;
}
.externalUsers-view .groupGridStyle .ngVerticalBarVisible {
  width: 0;
}
.externalUsers-view .groupGridStyle .ngCellText {
  border-bottom: 1px solid #cfcfcf;
  padding-top: 20px;
}
.externalUsers-view .groupGridStyle .ngHeaderCell {
  border-bottom: 1px solid #afafaf;
}
.externalUsers-view .groupGridStyle .user-name {
  padding-top: 10px;
  padding-bottom: 9px;
}
.externalUsers-view .groupGridStyle .groups-name {
  padding-top: 10px;
}
.externalUsers-view .groupGridStyle .action {
  padding-bottom: 19px;
}
.externalUsers-view .groupGridStyle .action img {
  cursor: pointer;
  padding-left: 20px;
}
.externalUsers-view .groupGridStyle .action img:first-child {
  padding-left: 0px;
}
.externalUsers-view .groupGridStyle .ngRow.even {
  background-color: white;
}
.externalUsers-view .groupGridStyle .ngTopPanel {
  background-color: white;
}
.externalUsers-view button {
  margin-left: 12px;
}
.externalUsers-view .btn.btn-default:first-child {
  margin-left: 0px;
}
.editExternalUser-header {
  height: 5%;
  padding: 0 15px;
  min-height: 25px;
}
.editExternalUser-header h3 {
  font-size: 20px;
}
.editExternalUser {
  height: 95%;
  overflow-y: auto;
}
.editExternalUser label {
  margin-bottom: 0px;
  margin-left: 5px;
}
.editExternalUser .form-group {
  margin-bottom: 10px;
}
.editExternalUser .user-name {
  width: 30%;
}
.editExternalUser .user-email {
  width: 30%;
}
.editExternalUser .user-total-space {
  width: 15%;
  float: left;
}
.editExternalUser .checkbox-label {
  margin-top: 5px;
  margin-left: 35px;
}
.editExternalUser h4 {
  margin-top: 35px;
}
.editExternalUser .permission-checkbox {
  padding: 0;
  margin-left: -3px;
}
.editExternalUser .seach-group,
.editExternalUser .seach-files {
  float: left;
  margin-right: 10px;
  width: 20%;
}
.editExternalUser .seach-folder {
  height: 34px;
}
.editExternalUser .gridStyle {
  border: 1px solid #e5e5e5;
  height: 250px;
  padding: 0;
}
.editExternalUser .gridStyleform {
  height: 250px;
}
.group-view {
  height: 100%;
}
.group-view a {
  text-decoration: none;
}
.group-view .buttonGroup {
  border-bottom: 1px solid #afafaf;
  margin-left: 40px;
  padding-bottom: 9px;
  padding-left: 57px;
  padding-top: 9px;
  width: 90%;
}
.group-view .groupGridStyle {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 53px;
  width: 90%;
  padding-left: 97px;
}
.group-view .groupGridStyle .ngVerticalBarVisible {
  width: 0;
}
.group-view .groupGridStyle .ngCellText {
  border-bottom: 1px solid #cfcfcf;
  padding-top: 20px;
}
.group-view .groupGridStyle .ngHeaderCell {
  border-bottom: 1px solid #afafaf;
}
.group-view .groupGridStyle .user-name {
  padding-top: 10px;
}
.group-view .groupGridStyle .groups-name {
  padding-top: 10px;
}
.group-view .groupGridStyle .action img {
  cursor: pointer;
  padding-left: 20px;
}
.group-view .groupGridStyle .action img:first-child {
  padding-left: 0px;
}
.group-view .groupGridStyle .ngRow.even {
  background-color: white;
}
.group-view .groupGridStyle .ngTopPanel {
  background-color: white;
}
.group-view button {
  margin-left: 12px;
}
.group-view .btn.btn-default:first-child {
  margin-left: 0px;
}
.add-member-window-modal {
  display: block;
  z-index: 1051;
}
.add-member-window-modal .gridStyle {
  height: 350px;
  border: 1px solid #e5e5e5;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  width: 95%;
}
.add-member-window-modal .gridStyle .ngSelectionCheckbox {
  margin-top: 5px;
}
.add-member-window-modal .gridStyle .user-name {
  margin-top: 4px;
}
.add-member-window-modal .gridStyle .gruop-add-email-row {
  margin-top: 2px;
}
.add-group-modal-view h4 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.add-group-modal-view .gridStyle {
  height: 150px;
  border: 1px solid #e5e5e5;
  padding: 0;
}
.add-group-modal-view .tooltip-inner {
  background-color: #ed9c3d;
}
.add-group-modal-view .tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1;
}
.add-group-modal-view .tooltip.top .tooltip-arrow {
  border-top-color: #ed9c3d;
}
.add-group-modal-view .tooltip.top-left .tooltip-arrow {
  border-top-color: #ed9c3d;
}
.add-group-modal-view .tooltip.top-right .tooltip-arrow {
  border-top-color: #ed9c3d;
}
.add-group-modal-view .tooltip.right .tooltip-arrow {
  border-right-color: #ed9c3d;
}
.add-group-modal-view .tooltip.left .tooltip-arrow {
  border-left-color: #ed9c3d;
}
.add-group-modal-view .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ed9c3d;
}
.add-group-modal-view .tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #ed9c3d;
}
.add-group-modal-view .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #ed9c3d;
}
.editGroup-header {
  height: 5%;
  padding: 0 15px;
  min-height: 25px;
}
.editGroup-header h3 {
  font-size: 20px;
}
.editGroup {
  height: 95%;
  overflow-y: auto;
}
.editGroup label {
  margin-bottom: 0px;
  margin-left: 5px;
}
.editGroup .form-group {
  margin-bottom: 10px;
}
.editGroup .group-name {
  width: 30%;
}
.editGroup .user-email {
  width: 30%;
}
.editGroup .user-total-space {
  width: 15%;
  float: left;
}
.editGroup .checkbox-label {
  margin-top: 5px;
  margin-left: 35px;
}
.editGroup h4 {
  margin-top: 35px;
}
.editGroup .permission-checkbox {
  padding: 0;
  margin-left: -3px;
}
.editGroup .seach-group,
.editGroup .seach-files {
  float: left;
  margin-right: 10px;
  width: 20%;
}
.editGroup .gridStyle {
  border: 1px solid #e5e5e5;
  height: 250px;
  padding: 0;
}
.editGroup .gridStyleform {
  height: 250px;
}
.managedUsers-view {
  height: 100%;
}
.managedUsers-view a {
  text-decoration: none;
}
.managedUsers-view .buttonGroup {
  border-bottom: 1px solid #afafaf;
  margin-left: 40px;
  padding-bottom: 9px;
  padding-left: 57px;
  padding-top: 9px;
  width: 90%;
}
.managedUsers-view .gridStyle {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 53px;
  width: 90%;
  padding-left: 97px;
}
.managedUsers-view .gridStyle .ngVerticalBarVisible {
  width: 0;
}
.managedUsers-view .gridStyle .ngCellText {
  border-bottom: 1px solid #cfcfcf;
  padding-top: 20px;
  padding-left: 0px;
}
.managedUsers-view .gridStyle .ngHeaderCell {
  border-bottom: 1px solid #afafaf;
}
.managedUsers-view .gridStyle .user-name {
  padding-top: 10px;
}
.managedUsers-view .gridStyle .action img {
  cursor: pointer;
  padding-left: 20px;
}
.managedUsers-view .gridStyle .action img:first-child {
  padding-left: 0px;
}
.managedUsers-view .gridStyle .ngRow.even {
  background-color: white;
}
.managedUsers-view .gridStyle .ngTopPanel {
  background-color: white;
}
.managedUsers-view .gridStyle .activety {
  padding-top: 10px;
}
.managedUsers-view button {
  margin-left: 12px;
}
.managedUsers-view .btn.btn-default:first-child {
  margin-left: 0px;
}
.add-user-modal-view .account-admin.ng-hide-remove {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.add-user-modal-view .account-admin.ng-hide-remove-active {
  opacity: 100;
  filter: alpha(opacity=10000);
}
.add-user-modal-view .account-admin.ng-hide-add {
  opacity: 100;
  filter: alpha(opacity=10000);
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.add-user-modal-view .account-admin.ng-hide-add-active {
  opacity: 0;
  filter: alpha(opacity=0);
}
.add-user-modal-view .empty {
  border: 1px solid red;
}
.add-user-modal-view .tdroll {
  width: 140px;
}
.add-user-modal-view h4 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.add-user-modal-view .permission-form {
  padding-left: 20px;
}
.add-user-modal-view .unit {
  padding-top: 6px;
  padding-left: 0px;
}
.add-user-modal-view .gridStyle {
  height: 130px;
}
.add-user-modal-view input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
.editUser-header {
  height: 5%;
  padding: 0 15px;
  min-height: 25px;
}
.editUser-header h3 {
  font-size: 20px;
}
.editUser {
  height: 95%;
  overflow-y: auto;
}
.editUser label {
  margin-bottom: 0px;
  margin-left: 5px;
}
.editUser .form-group {
  margin-bottom: 10px;
}
.editUser .user-name {
  width: 30%;
}
.editUser .user-email {
  width: 30%;
}
.editUser .user-total-space {
  width: 15%;
  float: left;
}
.editUser .checkbox-label {
  margin-top: 5px;
  margin-left: 35px;
}
.editUser h4 {
  margin-top: 35px;
}
.editUser .permission-checkbox {
  padding: 0;
  margin-left: -3px;
}
.editUser .seach-group,
.editUser .seach-files {
  float: left;
  margin-right: 10px;
  width: 20%;
}
.editUser .gridStyle {
  border: 1px solid #e5e5e5;
  height: 250px;
  padding: 0;
}
.editUser .gridStyleform {
  height: 250px;
}
.user-header-view {
  border-bottom: 1px solid #afafaf;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 40px;
  height: 60px;
}
.user-header-view .nav > li > a:hover,
.user-header-view .nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}
.user-header-view .nav-sidebar li {
  margin: 0 12px;
  float: left;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.user-header-view .active a {
  border-bottom: 7px solid #1F69BA;
}
.reports-view {
  color: green;
}
.settings-view {
  color: blue;
}
