.file-team {
    position: absolute;
    bottom: 40px;    
}

//文件列表
.files-view {
  margin-right: 300px;
  height: 100%;
  position: relative;
  min-width: 600px;

  .scroller {
    overflow-y: hidden;
    bottom: 0px;
    left: 0;
    margin-left: 40px;
    right: 0;
    top: 138px;
    position: absolute;
  }

  .file-row{
    margin-right: 40px;
    height: 65px;
    border-bottom: 1px solid #E8E8E8; 
    overflow: hidden;
    font-size: 14px;
  }
  .file-row:hover{
      background-color: #ebf1f7;
  }
  .top-bar{
    height: 45px;
    padding-left: 40px;
    padding-top: 12px;
    font-size: 15px;
    .folder-crumb{
      margin-left: 5px;  
    }
    .root-path a{
      color: #aeaeae;
      position: relative;
      top: 1px; 
    }
    .root-path.isRoot a{
       color: #676767;  
    }
    .root-path a:hover, .root-path a:focus{
      text-decoration: underline; 
    } 
    .folder-crumb a{
      color: #aeaeae;
      position: relative;
      top: 2px;  
    }
    .folder-crumb a:hover, .folder-crumb a:focus{
      text-decoration: underline; 
    }
    .folder-crumb:last-child{
        a{
            color: #676767;
        }
    }
  }
  .top-bar-bottom{
      height: 6px;
      background-size: 100% 100%;
      background-image: url("../../images/top_shadow.png");
  }
  .buttonGroup{
    border-bottom: 1px solid #afafaf;
    height: 48px;
    margin-left: 40px;
    padding-top: 10px;
    button{
        padding: 3px 6px;
        margin-left: 5px;
    }
  }
  .title{
     height: 39px; 
     margin-left: 40px;
     margin-right: 40px;
     border-bottom: 1px solid #afafaf;
     color: #676767;
     font-weight: bold;
     .title-checkbox{
        width: 4%;
     }
     .title-name{
         width: 30%;
     }
     .title-state{
         width: 25%;
     }
     .title-size{
         width: 5%;
     }
     .title-size{
         width: 13%;
     }
     .title-permission{
         width: 13%;
     }
     .title-action{
         width: 15%;
     }
     .col{
       float: left;
       padding: 8px;
     }
  }
  .folder-grid {
    .table{
       height : 100%;      
       bottom: 30px;
       left: 0;
       right: 0;
       top: 25px;
       .create-folder-div{
           border-bottom: 1px solid #cfcfcf;
           height: 65px;
           padding-left: 30px;
           padding-top: 15px;
       }
       .state-td{
           width: 25%;
           float: left;
           padding-top: 22px;
           padding-left: 5px;
           color: #666; 
       }
       .file-sise-td{
           width: 13%;
           float: left;
           padding-top: 22px;
           padding-left: 8px; 
           color: #666;
       }
       .permission-td{
           width: 13%;
           float: left;
           padding-left: 8px; 
           padding-top: 22px; 
           color: #666;
       }
       .action-td{
           width: 15%;
           float: left;
           padding-top: 22px;
           padding-left: 8px;
           span{
             margin-left: 2px;
             color: #666;
           } 
       }
       a:hover, a:focus{
           text-decoration: none;
           cursor: pointer;
           &.noPreview{
               cursor: auto;
           }
       } 
    }
    
  }
  
  .selected{
    background-color: #ebf1f7;  
  }
  
  .input-checkbox-td{
    padding-top: 20px;
    width: 4%;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
  }
  
  .create-buttonGroup{
    float: left;  
  }
  
  .form-control{
    width: 270px;  
  }
  
  .rename-file{
    width: 125px;  
  }
  
  .rename-form{
    padding-top: 5px; 
  }
  
  .img-name-td{
    width: 30%;
    float: left;
    padding-top: 10px;
    padding-left: 8px;
    position: relative;
    .rename-form{
        position: absolute;
        left: 50px;
        width: 260px; 
    }
    .rename-buttonGroup{
        float: left;
        padding-left: 5px;
    } 
    img{
      float: left;  
    }
    .file-name{
      float: left;  
      width: 75%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 8px;
      padding-top: 5px;
      font-size: 15px;
      a{
        color: #333;
        font-weight: 600;
      }
      a:hover{
        color: #1f69ba;
        text-decoration: underline;
      }
    }
    .tag{
      color: #888;
      font-size: 10px;
      span{
        display: inline-block;       
        // background-color: #c2c2c2;
        padding: 1px 4px;
        border-radius: 1px;
        border: 1px solid #E0E0E0;
      }
    }  
  }

  .action-td{
    padding-top: 22px;
    height: 40px;
  }
  .link-share-ico{
    float: left;
    background: url("../../images/contact_comment_link_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: 0px -38px;
    height:19px;
    width: 16px;
    cursor: pointer;  
  }
  .share-ico{
    float: left;
    background: url("../../images/contact_comment_link_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: 0px 0px;
    height:19px;
    width: 16px;
    cursor: pointer;
    margin-left: 10px;  
  }
  .discuss-ico{
    float: left;  
    background: url("../../images/contact_comment_link_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: 0px -19px;
    height:19px;
    width: 16px;
    cursor: pointer;
    margin-left: 10px;  
  }
  
  .position-fixed {
    position: fixed;
  }
  
}

.team-collaboration{
    width: 300px;
    border-left: 1px solid #ddd;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    .scroller{
        overflow-y: hidden;
        bottom: 0;
        left: 0;
        margin-left: 0;
        right: 0;
        top: 46px;
        position: absolute;
    }
    .groups-users-header{
      height: 36px;
      line-height: 36px;
      margin-bottom: 10px;
      color: #555;
      background-color: #E8ECF0;
      .invite{
        background: url("../../images/file_invite_contact_btn_off.png") no-repeat scroll rgba(0, 0, 0, 0);
        cursor: pointer;
        height: 17px;
        width: 20px;
        margin-top: 10px;
      }
      .invite:hover{
        background: url("../../images/file_invite_contact_btn_pressed.png") no-repeat scroll rgba(0, 0, 0, 0);  
      }
      a{
        cursor: pointer;
        text-decoration: none;
      }
    }
    .dropdown-menu{
        li{
            cursor: pointer;
        }
    }
    
    .groups{
        padding: 5px 24px 5px 16px;
        font-size: 12px;
        color: #666;
        .group-div{
            height: 25px;
            padding-bottom: 5px;
            width: 100%;
            .img{
                cursor: pointer;
                float: left;
                width: 44px;
                margin-right: 11px;
            }
            .group-name{
                float: left;
                width: 85px;
                height: 24px;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 8px;
            }
            .group-permission{
                float: left;
                width: 80px;
                height: 24px;
                line-height: 24px;
                position: relative;
                color: #1f69ba;
                span{
                    cursor: pointer;
                }
                .caret{
                    display: none;            
                }
                .dropdown-menu{
                    width: 85px;
                    min-width: 85px;
                    > li > a{
                      font-size: 11px;
                      padding: 3px 8px;
                    }
                    > li > a:hover {
                      color: #262626;
                      background-color: #E3E3E3;
                    }
                }
            }
            .delete-group{
                cursor: pointer;
                display: none;
                float: right;
                height: 24px;
                line-height: 24px;
            }
        }

        > .col-sm-12 {
          padding-left: 42px;
        }
        
        .group-div:hover .caret{
            display: inline-block;
        }
        .group-div:hover .delete-group{
            display: inline-block;
        }
        .group-user{
            padding-top: 5px;
            padding-bottom: 5px;
            img {
              margin-right: 11px;
            }
        }
    }
    .groups:hover {
      background-color: #ebf1f7;
    }

    .users{
        padding-left: 36px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 24px;
        height: 34px;
        font-size: 12px;
        color: #666;
        .img{
            float: left;
            width: 35px;
        }
        .user-name{
            float: left;
            width: 85px;
            height: 24px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 8px;
        }
        .user-permission{
            float: left;
            position: relative;
            width: 80px;
            height: 24px;
            line-height: 24px;
            color: #1f69ba;
            span{
                cursor: pointer;
            }
            .caret{
                display: none;            
            }
            .dropdown-menu{
                width: 85px;
                min-width: 85px;
                > li > a{
                  font-size: 11px;
                  padding: 3px 8px;
                }
                > li > a:hover {
                  color: #262626;
                  background-color: #E3E3E3;
                }
            }
        }
        .delete-user{
            float: right;
            cursor: pointer;
            display: none; 
            height: 24px;
            line-height: 24px;
        }
    }
    .users:hover{
            background-color: #ebf1f7;
        }
        .users:hover .caret{
            display: inline-block;
        }
        .users:hover .delete-user{
            display: inline-block;
        }
    .arrows-img{
        background: url("../../images/arrows.png") no-repeat scroll rgba(0, 0, 0, 0);
        background-position: 0 -69px;
        cursor: pointer;
        float: left;
        height: 8px;
        margin-top: 3px;
        margin-right: 5px;
        transition: -moz-transform 0.2s ease 0s;
        width: 15px;
        height: 15px;
    }
}

.folder-table{
    height: 85%;
}

.snap-content {
   background-color: #fff;
   border-left: 1px solid #ccc;
}

//移动文件夹
.move-file-modal-view{
    div[data-tree-model] li .expanded {
        background-image: url("../../images/tree_ico.png");
        background-repeat: no-repeat;
        padding: 1px 10px;
    }
    
    div[data-tree-model] li .collapsed {
        background-image: url("../../images/tree_ico.png");
        background-repeat: no-repeat;
        padding: 1px 10px;
    }
    div[data-tree-model] li .normal {
        background-image: url("../../images/tree_ico.png");
        background-repeat: no-repeat;
        padding: 1px 10px;
    }
}

//讨论
.user-discuss-view {
    padding: 5px;
    img{
        float: left;
    }
    .scroller {
        bottom: 210px;
        overflow-y: hidden;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
    }
    
    .disc-item{
        padding: 10px;
        .disc-box{
            margin-left: 35px;
            .disc-name{
                color: #c0c0c0;
                font-size: 12px;
            }
            .disc-time{
                color: #c0c0c0;
                font-size: 12px;
            }
        }
    }
    .disc-inputbox{
        background-color: white;
        bottom: 70px;
        height: 130px;
        position: absolute;
    }
}

//邀请协作人
.invite-team-users{
    h3{
      margin-left: 15px;
    }
    h5{
      margin-top: 24px;
    }
    .modal-dialog {
        width: 100%;

        .modal-content {
            border: none;
            border-radius: none;
            background: transparent;
             box-shadow: none;
        }
    }
    .invite-team-users-inner {
//      transition:width 0.5s;
//      -moz-transition:width 0.5s; /* Firefox 4 */
//      -webkit-transition:width 0.5s; /* Safari and Chrome */
//      -o-transition:width 0.5s; /* Opera */
        width: 400px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        margin: 0 auto;
        background: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        &.broad {
            width: 700px;
        }
    }
    .invite-form{
        height: 500px;
        .invite-content{
            width: 360px;
        }
        .input-from-group{
            margin-bottom: 5px;
        }
        .or-from-group{
            margin-bottom: 5px;
            text-align: center;
        }
        .select-from-group{
            margin-bottom: 5px;
        }
        .selected-groups-users{
            border: 1px solid #e5e5e5;
            margin-left: 15px;
            height: 76px;
            padding: 0;
            width: 92%;
            position: relative;
            overflow-y: hidden;
        }
        .dropdown{
          button{
            text-align: left;
            span.caret{
              margin-left: 250px;
            }
            
          }
          .dropdown-menu{
              width: 100%;
              text-align: left;
              li{
                cursor:pointer;
              }
          }
        }

        textarea.comment-input {
          height: 54px;
          font-size: 12px;
          color: #666;
        }
        
        .selectedItem{
            background: none repeat scroll 0 0 #eee;
            border: 1px solid #ccc;
            border-radius: 6px;
            float: left;
            margin: 5px;
            padding: 3px;
            .deleteSelected{
                padding: 5px;
                cursor: pointer;
            }
        }
        form{
            height: 100%;
            h5{
              border-bottom: 1px solid #e5e5e5;  
            }
        }
        .select-invite{
            height: 100%;
            border-left: 1px solid #e5e5e5;
            width: 300px;
            .form-group{
                height: 20px;
            }
            .group{
                padding: 5px;
                .group-user{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 25px;
                }
            }
            .user{
                padding: 5px;
            }
            .scroller{
              overflow-x: hidden;  
              overflow-y: hidden;
              bottom: 0;
              left: 0;
              margin-left: 15px;
              right: 0;
              top: 55px;
              position: absolute;
              padding-right: 5px;
              .group-name{
                  max-width: 90px;
              }   
            }
             .arrows-img{
                background: url("../../images/arrows.png") no-repeat scroll 0 -113px rgba(0, 0, 0, 0);
                cursor: pointer;
                float: right;
                height: 8px;
                margin-top: 8px;
                transition: -moz-transform 0.2s ease 0s;
                width: 15px;
             }
        }
      
    }
}

//链接分享
.link-share{
    .modal-dialog{
        width: 350px;
        .input-group{
            margin-bottom: 5px;
        }
        .dropdown{
          button{
            text-align: left;
            span.caret{
              margin-left: 238px;
            }
          }
          .dropdown-menu{
              text-align: left;
              width: 100%;
              li{
                  cursor: pointer;
              }
          }
        }
        
        .input-password{
            margin-top: 5px;
        }
        .code_src{
            margin-right: 5px;
        }
    }
}

//文件预览
.preview-file{
    .preview-file-inner{
        width: 600px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        margin: 0 auto;
        background: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        &.broad {
            width: 900px;
        }
    }
    
    .modal-dialog{
        height: 90%;
        width: 90%;
    }
    .modal-content{
        height: 100%;
    }
    .upload-new-version{
        float: right;
        padding: 4px 6px;
    }
    .preview-view{
        height: 100%;
        .image-preview{
            text-align: center;
            bottom: 0;
            left: 13px;
            position: absolute;
            right: 14px;
            top: 40px;
            img{
                height: 100%;
                width: 70%;
            }
        }
        .txt-preview{
            word-break: break-all;
            bottom: 0;
            left: 13px;
            position: absolute;
            right: 14px;
            top: 40px;
            overflow-y: auto;
        }
        .office-preview{
            border: 1px solid #e5e5e5;
            bottom: 0;
            left: 13px;
            position: absolute;
            right: 14px;
            top: 40px;
        }
    }
    .modal-body{
        position: relative;
        height: 100%;
    }
    .preview-action{
        position: absolute;
        bottom: 0;
    }
    .modal-header{
        padding: 0;
    }
    .discuss-version-view{
        border-left: 1px solid #e5e5e5;
        height: 100%;
        .nav-sidebar{
            .ver{
              margin-left: 15px;  
            }
            li{
               float: left;
               cursor: pointer;
               &.active{
                   border-bottom: 2px solid #428bca;
               }
            }
        }
        .discuss{
          position: absolute;
          top: 30px;
          left: 15px;
          right: 0;
          bottom: 110px;
          overflow-y: auto;
          .disc-item{
            padding: 10px;
            img{
              float: left;
            }
            .disc-box{
              margin-left: 35px;
              .disc-name{
                color: #c0c0c0;
                font-size: 12px;
              }
            .disc-time{
                color: #c0c0c0;
                font-size: 12px;
            }
          }
          }
        }
        
        
        .disc-inputbox{
          bottom: 0;
          height: 100px;
          position: absolute;
        }
    }
}

//文件上传窗口
.modal-upload{
    .upload-box{
        font-size: 16px;
        border: 2px dashed #c6c6c6;
        text-align: center;
        height: 150px;
        .upload-select:hover{
            a{
                text-decoration: underline;
            }
        }
        .upload-select{
            top: 40px;
            margin: 0 auto;
            width: 130px;
            cursor: pointer;
        }
        .upload-drop{
            position: relative;
            top: 60px;
        }
    }
}
