html,
body {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.main {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: #f4f4f4;
}
.sidebar {
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  position: absolute;
  border-right: 1px solid #bbbbbb;
  background-color: #eceff1;
}
.right-main {
  position: absolute;
  bottom: 40px;
  min-width: 860px;
  right: 0;
  top: 0;
  left: 0;
  border: 1px solid #afafaf;
  padding-left: 0;
  padding-right: 0;
}
.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #afafaf;
}
.enter-password {
  background-color: #1f69ba;
  bottom: 0;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 97;
}
.enter-password .input-password {
  width: 380px;
  margin: 200px auto;
}
.enter-password .form-control {
  width: 80%;
}
.enter-password .form-group {
  margin-top: 100px;
}
.enter-password input {
  float: left;
}
.notification-modal-view {
  background-color: transparent;
}
.notification-modal-view .modal-body,
.notification-modal-view .modal-content {
  background-color: transparent;
}
.notification-modal-view .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.header-view .header-top {
  background-image: url("../../images/openlink_topbar.png");
  color: white;
  height: 40px;
}
.header-view .header-top .button-group {
  margin-top: 5px;
}
.header-view .header-top .button-group button {
  padding: 3px 15px;
  margin-right: 10px;
}
.header-view .header-top .dropdown-menu li {
  cursor: pointer;
}
.header-view .header-top .user-info {
  border-left: 1px solid #1b599b;
  padding-left: 10px;
  margin-top: 4px;
  height: 22px;
}
.header-view .header-top .user-info .dropdown-menu {
  top: 30px;
}
.header-view .header-top .to-admin-control {
  cursor: pointer;
  border-right: 1px solid #2273cc;
  border-left: 1px solid #1b599b;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  height: 22px;
  margin-top: 4px;
  line-height: 1.3;
}
.header-view .header-top .notif_box {
  position: relative;
  float: right;
  padding-right: 10px;
  height: 22px;
  margin-top: 4px;
  border-right: 1px solid #2273cc;
}
.header-view .header-top .notif_box span {
  display: inline-block;
  float: right;
  font-size: 18px;
  height: 100%;
  line-height: 63px;
  padding: 0 10px;
}
.header-view .header-top .notif_box .notice {
  background: url('../../images/topbar_notification_icon.png') no-repeat;
  height: 21px;
  cursor: pointer;
  background-position: -57px -4px;
  width: 10px;
  height: 24px;
}
.header-view .header-top .notif_box .message {
  background: url('../../images/topbar_notification_icon.png') no-repeat;
  background-position: -13px -4px;
  margin-right: 20px;
  height: 24px;
  width: 20px;
  cursor: pointer;
}
.header-view .header-top .notif_box .message-count {
  background-color: #d13434;
  border-radius: 8px;
  color: #ffffff;
  height: 16px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 16px;
}
.header-view .header-top .notif_box .notice-count {
  right: 2px;
}
.header-view .header-top .notif_box .letter-count {
  left: 12px;
}
.header-view .header-top .username {
  margin-right: 40px;
  margin-top: 4px;
  font-size: 14px;
  float: right;
  margin-left: 8px;
  cursor: pointer;
}
.header-view .header-top .username span {
  float: left;
  margin-right: 7px;
  margin-top: -5px;
  font-size: 15px;
}
.header-view .header-top .personalInfor {
  margin-top: 4px;
  background: url(../../images/arrows.png) no-repeat;
  -moz-transition: -moz-transform 0.2s;
  /* Firefox 4 */
  -webkit-transition: -webkit-transform 0.2s;
  /* Safari and Chrome */
  -o-transition: -o-transform 0.2s;
  /* Opera */
  -ms-transition: -ms-transform 0.2s;
  /* IE */
  -sand-transition: -sand-transform 0.2s;
  /* IE */
  float: right;
  height: 8px;
  width: 17px;
  cursor: pointer;
}
.header-view .header-top .hover .personalInfor {
  transform: rotate(180deg);
  -sand-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* IE */
  -moz-transform: rotate(180deg);
  /* Firefox 4 */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
.header-view .header-top .back-main {
  margin-right: 36px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 12px;
}
.header-view .header-top .back-main .back-img {
  background: url("../../images/back.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 14px;
  margin-right: 3px;
  margin-top: 3px;
  width: 13px;
}
.header-view .header-top .userpic {
  float: right;
  margin-top: -2px;
  width: 26px;
  height: 26px;
}
.header-view .header-search {
  background: url("../../images/web_topbar_gray.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 48px;
}
.header-view .header-search .logo {
  height: 32px;
  width: 147px;
  position: relative;
  left: 20px;
  top: 8px;
  background: url("../../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.header-view .header-search .search {
  position: relative;
  left: 153px;
  top: 8px;
  width: 450px;
}
.header-view .header-search .search .search-text {
  background: url("../../images/search_icon.png") no-repeat scroll 10px 10px #ffffff;
  float: left;
  width: 270px;
  padding-left: 35px;
}
.header-view .header-search .search .search-button {
  margin-left: 27px;
}
.user-info .modal-dialog {
  width: 400px;
}
.user-info label {
  padding-bottom: 0;
}
.user-info h5 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.user-info .user-info .form-group {
  margin-right: 0;
  margin-bottom: 5px;
}
.user-info .save-button {
  margin-top: 30px;
}
.sidebar-view .nav > li > a:hover,
.sidebar-view .nav > li > a:focus {
  text-decoration: none;
  background-color: #d6dce2;
}
.sidebar-view .updates {
  padding-left: 45px;
}
.sidebar-view .updates-img {
  background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px -15px;
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .files {
  padding-left: 45px;
}
.sidebar-view .files-img {
  background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px -65px;
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .contacts {
  padding-left: 45px;
}
.sidebar-view .contacts-img {
  background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px -115px;
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .trash {
  padding-left: 45px;
}
.sidebar-view .trash-img {
  background: url("../../images/leftmenu_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px -165px;
  height: 19px;
  width: 19px;
  left: 20px;
  position: absolute;
}
.sidebar-view .active {
  background-color: #d6dce2;
  border-left: 5px solid #1f69ba;
}
.sidebar-view .storage {
  background-color: #eceff1;
  border-top: 1px solid #c8c8c8;
  bottom: 0;
  height: 60px;
  padding-top: 14px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.sidebar-view .storage .storage-progressbar {
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar-view .storage span {
  padding-right: 20px;
}
.sidebar-view .progress {
  margin-bottom: 5px;
}
.link-share {
  height: 100%;
}
.trash-view {
  height: 100%;
  position: relative;
  min-width: 600px;
  padding: 0;
  border-right: 1px solid #afafaf;
  background-color: #ffffff;
}
.trash-view .file-row {
  height: 65px;
  border-bottom: 1px solid #cfcfcf;
}
.trash-view .file-row:hover {
  background-color: #ebf1f7;
}
.trash-view .top-bar {
  height: 45px;
  padding-left: 40px;
  padding-top: 12px;
  font-size: 15px;
}
.trash-view .top-bar .folder-crumb {
  margin-left: 5px;
}
.trash-view .top-bar .root-path a {
  color: #676767;
  position: relative;
  top: 1px;
}
.trash-view .top-bar .root-path.isRoot a {
  color: #676767;
}
.trash-view .top-bar .root-path a:hover,
.trash-view .top-bar .root-path a:focus {
  text-decoration: none;
}
.trash-view .top-bar .folder-crumb a {
  color: #aeaeae;
  position: relative;
  top: 2px;
}
.trash-view .top-bar .folder-crumb a:hover,
.trash-view .top-bar .folder-crumb a:focus {
  text-decoration: none;
}
.trash-view .top-bar .folder-crumb:last-child a {
  color: #676767;
}
.trash-view .top-bar-bottom {
  height: 6px;
  background-size: 100% 100%;
  background-image: url("../../images/top_shadow.png");
}
.trash-view .buttonGroup {
  border-bottom: 1px solid #afafaf;
  height: 48px;
  margin-left: 40px;
  padding-top: 10px;
}
.trash-view .buttonGroup button {
  padding: 3px 6px;
  margin-left: 5px;
}
.trash-view .title {
  height: 39px;
  margin-left: 40px;
  border-bottom: 1px solid #afafaf;
  color: #676767;
}
.trash-view .title .title-checkbox {
  padding: 8px;
}
.trash-view .title .title-name {
  width: 30%;
}
.trash-view .title .title-state {
  width: 25%;
}
.trash-view .title .title-size {
  width: 5%;
}
.trash-view .title .title-size {
  width: 13%;
}
.trash-view .title .title-permission {
  width: 13%;
}
.trash-view .title .title-action {
  width: 15%;
}
.trash-view .title .col {
  float: left;
  padding: 8px;
}
.trash-view .folder-grid {
  bottom: 30px;
  left: 0;
  margin-left: 40px;
  right: 0;
  top: 138px;
  position: absolute;
}
.trash-view .folder-grid .table {
  height: 100%;
  bottom: 30px;
  left: 0;
  right: 0;
  top: 25px;
}
.trash-view .folder-grid .table .create-folder-div {
  border-bottom: 1px solid #cfcfcf;
  height: 65px;
  padding-left: 30px;
  padding-top: 15px;
}
.trash-view .folder-grid .table .state-td {
  width: 25%;
  float: left;
  padding-top: 22px;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trash-view .folder-grid .table .file-sise-td {
  width: 13%;
  float: left;
  padding-top: 22px;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trash-view .folder-grid .table .file-sise-td span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trash-view .folder-grid .table .permission-td {
  width: 13%;
  float: left;
  padding-left: 8px;
  padding-top: 22px;
}
.trash-view .folder-grid .table .action-td {
  width: 15%;
  float: left;
  padding-top: 22px;
  padding-left: 8px;
}
.trash-view .folder-grid .table .action-td span {
  margin-left: 3px;
}
.trash-view .folder-grid .table a:hover,
.trash-view .folder-grid .table a:focus {
  text-decoration: none;
  cursor: pointer;
}
.trash-view .folder-grid .table a:hover.noPreview,
.trash-view .folder-grid .table a:focus.noPreview {
  cursor: auto;
}
.trash-view .selected {
  background-color: #ebf1f7;
}
.trash-view .input-checkbox-td {
  padding-top: 20px;
  width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  float: left;
}
.trash-view .create-buttonGroup {
  float: left;
}
.trash-view .form-control {
  width: 270px;
}
.trash-view .rename-file {
  width: 125px;
}
.trash-view .rename-form {
  padding-top: 5px;
}
.trash-view .img-name-td {
  width: 30%;
  float: left;
  padding-top: 10px;
  min-width: 315px;
  padding-left: 8px;
}
.trash-view .img-name-td .rename-form {
  float: left;
  width: 260px;
}
.trash-view .img-name-td .rename-buttonGroup {
  float: left;
  padding-left: 5px;
}
.trash-view .img-name-td img {
  float: left;
}
.trash-view .img-name-td .file-name {
  float: left;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-top: 5px;
}
.trash-view .img-name-td .tag {
  color: white;
  font-size: 11px;
}
.trash-view .img-name-td .tag span {
  background-color: #c2c2c2;
  padding: 0 4px;
  border-radius: 1px;
}
.trash-view .action-td {
  padding-top: 22px;
  height: 40px;
}
.trash-view .link-share-ico {
  float: left;
  background: url("../../images/contact_comment_link_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px -38px;
  height: 19px;
  width: 16px;
  cursor: pointer;
}
.trash-view .share-ico {
  float: left;
  background: url("../../images/contact_comment_link_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px 0px;
  height: 19px;
  width: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.trash-view .discuss-ico {
  float: left;
  background: url("../../images/contact_comment_link_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 0px -19px;
  height: 19px;
  width: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.trash-view .position-fixed {
  position: fixed;
}
.link-detail {
  background-color: #FFFFFF;
  height: 100%;
}
.link-detail .img-name-email {
  height: 60px;
  margin-top: 10px;
}
.link-detail .img {
  float: left;
  width: 30%;
}
.link-detail .name-email {
  float: left;
  width: 70%;
}
.link-detail .explain-title {
  border-bottom: 1px solid #cfcfcf;
}
.link-detail .owner-info {
  float: left;
  width: 60px;
}
