<div class="modal-body">
  <div class="preview-view col-sm-10">
    <div class="modal-header">
      <button class="btn btn-default upload-new-version" type="button" ng-click="upload()">
                   上传新版本
      </button>
      <h3 class="modal-title">"{{obj.file_name}}"文件预览</h3>
    </div>
    <loading-indicator ng-show="loading"></loading-indicator>
    <div class="image-preview" ng-show = "fileType == 'image'">
      <img ng-src="{{imageSrc}}" alt=""/>
    </div>
    <div class="txt-preview" ng-show = "fileType == 'txt'" ng-bind-html = "previewValue">

    </div>
    <div class="office-preview" ng-show = "fileType == 'office' || fileType == 'pdf'" ng-bind-html = "previewValue">

    </div>
  </div>
  <div class="col-sm-2 discuss-version-view">
    <ul class="nav nav-sidebar">
      <li class="disc" ng-class="{ active: navType == 'dis'}" ng-click = "changeNavType('dis')">
        讨论
      </li>
      <li class="ver" ng-class="{ active: navType == 'ver'}" ng-click = "changeNavType('ver')">
        版本
      </li>
      <button class="bootbox-close-button close" type="button" ng-click="cancel()">
        ×
      </button>
    </ul>
    <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="20" refresh-on-change="userDiscussList" ng-show = "navType == 'dis'" suppress-scroll-x = "true">
    <div class="discuss">
      <div ng-repeat="userDiscuss in userDiscussList" class="disc-item">
        <img ng-src = "{{userDiscuss.avatar}}" height="30px" width="30px"/>
        <div class="disc-box">
          <div class="disc-name">{{userDiscuss.real_name}}</div>
          <div class="disc-time">{{userDiscuss.format_date}}</div>
          <div class="disc-content">{{userDiscuss.content}}</div>
        </div>
      </div>
    </div>
    </perfect-scrollbar>
    <div class="disc-inputbox" ng-show = "navType == 'dis'">
      <textarea id="inputor" rows="5" cols="20" at="atOptions" ng-change = "changeDiscussInput(discussContent)" ng-keydown = "createUserDiscussByPress($event)" ng-model = "discussContent"></textarea>
      <button class="btn btn-default pull-right" ng-disabled="discussButton" ng-click = "createUserDiscuss()">
        发表
      </button>
      <label class="pull-left">可@协作人</label>
      <label class="pull-right" >{{discussCount}}/200</label>
    </div>
    <perfect-scrollbar class="version" wheel-propagation="true" wheel-speed="20" refresh-on-change="fileHistoryList" ng-show = "navType == 'ver'" suppress-scroll-x = "true">
      <div ng-repeat="fileHistory in fileHistoryList" class="version-item">
        <div class="time-user row">
          <div class="version-time pull-left">{{fileHistory.format_date}}</div>
          <div class="version-user pull-right">{{fileHistory.user_name}}</div>
        </div>
        <div class="name-size-action">
          <div class="version-size pull-left">{{fileHistory.format_size}}</div>
          <div class="version-action pull-right" ng-click = "downLoadHistory(fileHistory)">

          </div>
        </div>
      </div>

    </perfect-scrollbar>
  </div>
</div>