.managedUsers-view {
  color: red;
  .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 300px;
  }
  
  button {
      background-color: #4a9afd;
      color: #ffffff;
  }
}

.add-user-modal-view {
  .account-admin {
    .opacity(100);
    .transition(all linear 0.5s);
  }
  .account-admin.ng-hide {
    .opacity(0);
  }
}