.managedUsers-view {
  height: 100%;
  .buttonGroup{
      border-bottom: 1px solid #afafaf;
      margin-left: 40px;
      padding-bottom: 9px;
      padding-left: 57px;
      padding-top: 9px;
      width: 90%;
  }
  .gridStyle {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 53px;
    width: 90%;
    padding-left: 97px;
    .ngVerticalBarVisible{
        width: 0;
    }
    .ngCellText{
        border-bottom: 1px solid #cfcfcf;
        padding-top: 20px;
        padding-left: 0px;
     }
     .ngHeaderCell{
         border-bottom: 1px solid #afafaf;
     }
     .user-name{
         padding-top: 10px;
     }
     .action img{
         cursor: pointer;
         padding-left: 20px;
     }
     .action img:first-child{
         padding-left: 0px;
     }
     
     .ngRow.even {     
         background-color: white;
      }
      
      .ngTopPanel {
        background-color: white;
      }
     
     .activety{
         padding-top: 10px;
     }
//   .grid-align {
//       text-align: center;
//   }
  }
  
   button {
       margin-left: 12px;
   }
   .btn.btn-default:first-child{
       margin-left: 0px;
   }
}

.add-user-modal-view {
  .account-admin.ng-hide-remove {
    .opacity(0);
    .transition(all linear 0.5s);
  }
  .account-admin.ng-hide-remove-active {
    .opacity(100);
  }
  .account-admin.ng-hide-add {
    .opacity(100);
    .transition(all linear 0.5s);
  }
  .account-admin.ng-hide-add-active {
    .opacity(0);
  }
  
  .empty{
      border: 1px solid red;
  }
  
  .tooltip-inner{            
      background-color: #1f69ba;
   }

  .tooltip.in {
      filter: alpha(opacity=100);
      opacity: 1;
   }
   
  .tooltip-arrow{
      background-color: #1f69ba;
   }
  
  
  .tdroll{
      width: 140px;
  }
  
  h4{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 5px;
  }
  
  .permission-form{
      padding-left: 20px;
  }
  
  .unit{
      padding-top: 6px;
      padding-left: 0px;
  }
  
  .gridStyle{
      height: 130px;
  }
}
