.managedUsers-view {
  color: red;
  height: 100%;
  .gridStyle {
    border: 1px solid rgb(212,212,212);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 34px;
    .ngVerticalBarVisible{
        width: 0;
    }
  }
  
  button {
      background-color: #4a9afd;
      color: #ffffff;
  }
}

.add-user-modal-view {
  .account-admin.ng-hide-remove {
    .opacity(0);
    .transition(all linear 0.5s);
  }
  .account-admin.ng-hide-remove-active {
    .opacity(100);
  }
  .account-admin.ng-hide-add {
    .opacity(100);
    .transition(all linear 0.5s);
  }
  .account-admin.ng-hide-add-active {
    .opacity(0);
  }
  
  .tdroll{
      width: 140px;
  }
}
